body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background: #f5f5f5;
    margin: 0;
}

header {
    padding: 50px 20px;
    background: #222;
    color: white;
}

.btn {
    background: #00b4d8;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

section {
    padding: 40px 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.project-card {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
