body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background: #0e0f11;
    color: #fff;
    margin: 0;
}

header {
    padding: 50px 20px;
    background: #111;
    color: white;
}

section {
    padding: 40px 20px;
    background: #1a1c1f;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: #00b4d8;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.project-card {
    background: #121416;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #222;
}
