body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0e0f11;
    color: #fff;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 300px;
    background: #111214;
    padding: 25px;
    border-radius: 15px;
    margin-left: 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    background: #222;
    border-radius: 50%;
    margin: auto;
}

.name {
    font-size: 22px;
    margin-top: 15px;
}

.title {
    color: #aaa;
    margin: 5px 0 15px;
}

.description {
    font-size: 14px;
    color: #ddd;
    line-height: 1.7;
    margin-bottom: 20px;
}

.sidebar a {
    color: #8ab4f8;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar a:hover {
    color: #bcdcff;
}

.contact-info p {
    margin: 5px 0;
}

.core-tech h3 {
    margin-top: 25px;
    font-size: 18px;
}

.tags span {
    background: #1d1f22;
    padding: 6px 12px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
}

.social-links a {
    display: block;
    margin-top: 15px;
    color: #8ab4f8;
}

.content {
    flex: 1;
}

.box {
    background: #111214;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
    border-right: 4px solid #00b4d8;
    padding-right: 10px;
}


.stack-grid {
    display: flex;
    gap: 20px;
}

.stack-box {
    background: #1a1c1f;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.icon-item {
    background: #1a1c1f;
    border-radius: 12px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border: 1px solid #1f2124;
    transition: 0.2s;
}

.icon-item img {
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
}

.icon-item span {
    color: #ddd;
    font-size: 14px;
    text-align: center;
}

.icon-item:hover {
    background: #222528;
    transform: translateY(-3px);
}


.projects-text-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    margin-top: 20px;
}

.project-text-card {
    background: #1a1c1f;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #1f2124;
}

.project-text-card h3 {
    margin: 0 0 8px;
    color: #fff;
}

.project-text-card p {
    margin: 0 0 12px;
    color: #bbb;
    line-height: 1.6;
}

.project-text-card a {
    color: #8ab4f8;
    font-weight: bold;
    text-decoration: none;
}

.project-text-card a:hover {
    color: #bcdcff;
}


.cert-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 18px;
    background: #1a1c1f;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #1f2124;
}

.cert-item img {
    width: 38px;
    height: 38px;
}

.cert-item h3 {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.cert-item p {
    margin: 3px 0 0;
    font-size: 13px;
    color: #bbb;
}



.box a {
    color: #8ab4f8;
    text-decoration: none;
    transition: 0.2s;
}

.box a:hover {
    color: #bcdcff;
}
